<div class="push-bottom-xxl wrapper-program wrapper">
    <div class="flex-l mhn1-l center wp-960">
        <div class=" mb2 w-30-l fp32 primary b title">
            {{.heading}}
            <a class="btn bg-orange white fp16 push-top download-btn-dp" href="{{.link}}"
               target="_blank">
                {{ i18n "download_program" }}
            </a>
        </div>
        <div class="w-70-l mb2 push-left-sm bg-grey-2 dark-blue br1 pv4 ph3 summary-program">
            <p>{{.description | safeHTML}}</p>
            {{ range .items }}
            <ul>
                <li>
                    <span class="roboto">
                        {{.text | safeHTML}}
                    </span>
                </li>
            </ul>
            {{ end }}
        </div>
        <a class="btn w-100 bg-orange white fp16 push-top download-btn-mb" href="{{.Params.program}}" download target="_blank">
            {{ i18n "download_program" }}
        </a>
    </div>
</div>
