<div class="push-top-xl push-bottom-xxl wrapper-short-text">
  <div class="flex-l mhn1-l center wp-960">
    <div class=" mb2 w-30-l image-wrapper">
        <img src="/img/brian-kostiuk-brikost/brian-kostiuk-brikost-252865-unsplash.png">
    </div>
    <div class="w-70-l mb2 push-left-sm text-wrapper">
        <h2 class="f0 b lh-title fp32 primary mb3">{{.heading}}</h2>
        <div class="mb0 fp16 short-body" style="color: #46464b; line-height:1.5">{{ .text | safeHTML }}</div>
    </div>
  </div>
</div>
