.join-box {
    min-height: 420px;
    border-radius: 16px;
    background-color: #ffe6c2;
    padding: 16px;
}
.join-box-wrapper {
    width: 100%;
}
.join-box-wrapper:last-child {
    margin-right: 0;
}

@media (max-width: 640px) {
    .join-box {
        min-height: unset;
        margin-right: 0 !important;
    }
    .join-wrapper .btn {
        width: max-content;
    }
}
.white-box {
    padding: 24px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.24);
    width: 304px;
}
